body {
    text-align: center;
    /* added a rainbow-like background */
    background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

/* modified cell size to 15px only through changing height/width of tr and td to 15px */
tr {
    height: 15px;
}

td {
    width: 15px;
}

input[type=number] {
    width: 6em;
}
